@model ConverterViewModel

<form asp-controller="Math" asp-action="DoCalculations" class="form-horizontal" method="post">

<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">LeftOperand</label>  
  <div class="col-md-4">
  <input asp-for="@Model.LeftOperand" id="LeftOperand" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>
<!--do the bindings-->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Operator</label>  
  <div class="col-md-4">
  <input asp-for="@Model.Operator" id="Operator" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">+, -, /, *</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">RightOperand</label>  
  <div class="col-md-4">
  <input asp-for="@Model.RightOperand" id="RightOperand" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>


<input type="submit" value="Submit">
</fieldset>
</form>


